bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/appsettings.User.json
node_modules/
.next/
*.received.*
TestResults/
web/schema-settings.json
*.tsbuildinfo
aspire/DataHub.AppHost/.certs/
.env
